# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
      
      - name: Push a folder to another repository
        # You may pin to the exact commit or the version.
        # uses: crykn/copy_folder_to_another_repo_action@abc264e1c16eb3d7b1f7763bfdb0e1699ad43120
        uses: FreeCodeCamp-Pandas-Real-Life-Example
        with:
          # Source folder from the origin directory
          source_folder: FreeCodeCamp-Pandas-Real-Life-Example
          # Destination repository
          destination_repo: dlokesh16/FreeCodeCamp-Data-Analysis-with-Python-Certification-300-hours
          # Directory to push the folder contents to
          destination_folder: FreeCodeCamp-Pandas-Real-Life-Example
          # Email for the git commit
          user_email: d.lokesh16@gmail.com
          # GitHub username for the commit
          user_name: dlokesh16
          # branch to push folder to, defaults to master
          # destination_branch: # optional
          # The commit message
          # commit_msg: # optional
